In [23]:
# Import Dependencies
import os
import pandas as pd
import numpy as np

In [24]:
#load the data
file_path = "rt_reviews_with_names_converted_newreviewscore.csv"

# Read the data
df = pd.read_csv(file_path)

df.head()

,review_score,review_content,movie_title,review_score_converted
0,NaN,A fantasy adventure that fuses Greek mythology...,Percy Jackson & the Olympians: The Lightning T...,NaN
1,NaN,"Uma Thurman as Medusa, the gorgon with a coiff...",Percy Jackson & the Olympians: The Lightning T...,NaN
2,NaN,With a top-notch cast and dazzling special eff...,Percy Jackson & the Olympians: The Lightning T...,NaN
3,3.5/5,Whether audiences will get behind The Lightnin...,Percy Jackson & the Olympians: The Lightning T...,70.0
4,NaN,What's really lacking in The Lightning Thief i...,Percy Jackson & the Olympians: The Lightning T...,NaN

In [25]:
# Remove NaN values from the dataset
df = df.dropna()

# Display the first few rows of the dataset
df.head()

,review_score,review_content,movie_title,review_score_converted
3,3.5/5,Whether audiences will get behind The Lightnin...,Percy Jackson & the Olympians: The Lightning T...,70.0
6,1/4,Harry Potter knockoffs don't come more transpa...,Percy Jackson & the Olympians: The Lightning T...,25.0
7,3.5/5,"Percy Jackson isn't a great movie, but it's a ...",Percy Jackson & the Olympians: The Lightning T...,70.0
8,B,"Fun, brisk and imaginative",Percy Jackson & the Olympians: The Lightning T...,75.0
9,3/5,"Crammed with dragons, set-destroying fights an...",Percy Jackson & the Olympians: The Lightning T...,60.0

In [26]:
def calculate_average_scores(df):
    # Group by movie title and calculate the mean score for each group
    average_scores = df.groupby('movie_title')['review_score_converted'].mean().reset_index()
    
    # Rename the columns for clarity
    average_scores.columns = ['movie_title', 'average_score']
    
    return average_scores

# Get the average scores
average_scores_df = calculate_average_scores(df)

# Display the result
print(average_scores_df)

                                             movie_title  average_score
0                                  !Women Art Revolution      69.333333
1                                                #Horror      51.600000
2                 #Unfit: The Psychology of Donald Trump      74.083333
3                                $ (Dollars) (The Heist)      77.500000
4                                                  $9.99      65.833333
...                                                  ...            ...
17010                         xXx: Return of Xander Cage      50.412281
17011                            xXx: State of the Union      42.683486
17012                   Átame! (Tie Me Up! Tie Me Down!)      61.035714
17013             Évocateur: The Morton Downey Jr. Movie      69.204545
17014  Ôritsu uchûgun Oneamisu no tsubasa (Royal Spac...      67.916667

[17015 rows x 2 columns]

In [27]:
# Save the result to a CSV file

average_scores_df.to_csv('average_scores.csv', index=False)