In [7]:
# Import Dependencies
import os
import pandas as pd
import numpy as np

In [8]:
#load the data
file_path = "rt_reviews_with_names_converted_newreviewscore.csv"

# Read the data
df = pd.read_csv(file_path)

df.head()

,review_score,review_content,movie_title,review_score_converted
0,NaN,A fantasy adventure that fuses Greek mythology...,Percy Jackson & the Olympians: The Lightning T...,NaN
1,NaN,"Uma Thurman as Medusa, the gorgon with a coiff...",Percy Jackson & the Olympians: The Lightning T...,NaN
2,NaN,With a top-notch cast and dazzling special eff...,Percy Jackson & the Olympians: The Lightning T...,NaN
3,3.5/5,Whether audiences will get behind The Lightnin...,Percy Jackson & the Olympians: The Lightning T...,70.0
4,NaN,What's really lacking in The Lightning Thief i...,Percy Jackson & the Olympians: The Lightning T...,NaN

In [10]:
def calculate_average_scores(df):
    # Group by movie title and calculate the mean score for each group
    average_scores = df.groupby('movie_title')['review_score_converted'].mean().reset_index()
    
    # Rename the columns for clarity
    average_scores.columns = ['movie_title', 'average_score']
    
    return average_scores

# Example usage:
# Assuming you have a DataFrame named df with the appropriate columns
# df = pd.DataFrame({
#     'movie_title': ['Movie A', 'Movie A', 'Movie B', 'Movie B', 'Movie C'],
#     'score': [4.5, 3.5, 4.0, 2.0, 5.0]
# })

# Get the average scores
average_scores_df = calculate_average_scores(df)

# Display the result
print(average_scores_df)

                                             movie_title  average_score
0                                  !Women Art Revolution      69.333333
1                                                #Horror      51.600000
2                 #Unfit: The Psychology of Donald Trump      74.083333
3                                $ (Dollars) (The Heist)      77.500000
4                                                  $9.99      65.792683
...                                                  ...            ...
17095                         xXx: Return of Xander Cage      50.412281
17096                            xXx: State of the Union      42.650862
17097                   Átame! (Tie Me Up! Tie Me Down!)      61.020833
17098             Évocateur: The Morton Downey Jr. Movie      69.204545
17099  Ôritsu uchûgun Oneamisu no tsubasa (Royal Spac...      66.785714

[17100 rows x 2 columns]

In [11]:
# Save the result to a CSV file

average_scores_df.to_csv('average_scores.csv', index=False)