In [24]:
import pandas as pd
import numpy as np

In [25]:
# Load the data
df = pd.read_csv(r"C:\Users\deers\OneDrive\Desktop\rt_reviews_cleaned_with_names.csv")

# Drop the rows with missing values in the movie_title and cleaned_review columns
df = df.dropna(subset=['movie_title', 'cleaned_review'])

# Convert the movie_title and cleaned_review to string
df['movie_title'] = df['movie_title'].astype(str)
df['cleaned_review'] = df['cleaned_review'].astype(str)

In [26]:
df

,rotten_tomatoes_link,review_type,cleaned_review,movie_title
0,m/0814255,Fresh,fantasy adventure fuse greek mythology contemp...,Percy Jackson & the Olympians: The Lightning T...
1,m/0814255,Fresh,uma thurman medusa gorgon coiffure writhing sn...,Percy Jackson & the Olympians: The Lightning T...
2,m/0814255,Fresh,topnotch cast dazzling special effect tide tee...,Percy Jackson & the Olympians: The Lightning T...
3,m/0814255,Fresh,whether audience get behind lightning thief ha...,Percy Jackson & the Olympians: The Lightning T...
4,m/0814255,Rotten,whats really lacking lightning thief genuine s...,Percy Jackson & the Olympians: The Lightning T...
...,...,...,...,...
1130008,m/zulu,Fresh,rousing reconstruction battle rorkes drift,Zulu
1130013,m/zulu_dawn,Fresh,seen today startling indictment british imperi...,Zulu Dawn
1130014,m/zulu_dawn,Fresh,rousing visual spectacle thats prequel cy endf...,Zulu Dawn
1130015,m/zulu_dawn,Rotten,simple twoact story prelude war war former con...,Zulu Dawn
1130016,m/zulu_dawn,Rotten,ride line pure artifact bygone eraone depicts ...,Zulu Dawn

In [27]:
# Drop the rows with missing values in the movie_title and cleaned_review columns
df = df.dropna(subset=['movie_title', 'cleaned_review'], how='any')


# Convert the movie_title and cleaned_review to string
df['movie_title'] = df['movie_title'].astype(str, errors='ignore')
df['cleaned_review'] = df['cleaned_review'].astype(str, errors='ignore')

In [28]:
# Drop movies with less than x reviews
df = df.groupby('movie_title').filter(lambda x: len(x) >= 370)

In [29]:
df.shape

(100966, 4)

In [30]:
# print how many movies are left
print(len(df['movie_title'].unique()))

207

In [31]:
# show the top 5 movies with the most reviews
df['movie_title'].value_counts().head()

movie_title
Star Wars: The Rise of Skywalker    992
Solo: A Star Wars Story             948
Star Wars: The Last Jedi            946
Rogue One: A Star Wars Story        892
Spider-Man: Far From Home           880
Name: count, dtype: int64

In [17]:
df.head()

,rotten_tomatoes_link,review_type,cleaned_review,movie_title
2244,m/10006057-moonlight,Fresh,common language two connect instantly perhaps ...,Moonlight
2245,m/10006057-moonlight,Rotten,contrived rather unpleasant englishlingo thril...,Moonlight
2246,m/10006057-moonlight,Fresh,van der oest posse sure visual sense lead perf...,Moonlight
2247,m/10006057-moonlight,Rotten,situation compels keep watching disappointed r...,Moonlight
2248,m/10006057-moonlight,Fresh,candid never prurient treatment earlyteen sexu...,Moonlight

In [18]:
# see if everything in the cleaned_review column is a string
df['cleaned_review'].apply(type).value_counts()

cleaned_review
<class 'str'>    100966
Name: count, dtype: int64

In [19]:
# Save the cleaned data
df.to_csv("rt_reviews_cleaned_with_names.csv", index=False)