In [1]:
import pandas as pd
import numpy as np

In [2]:
# Load the data
df = pd.read_csv(r"C:\Users\deers\OneDrive\Desktop\rt_reviews_cleaned_with_names.csv")

# Drop the rows with missing values in the movie_title and cleaned_review columns
df = df.dropna(subset=['movie_title', 'cleaned_review'])

# Convert the movie_title and cleaned_review to string
df['movie_title'] = df['movie_title'].astype(str)
df['cleaned_review'] = df['cleaned_review'].astype(str)

In [3]:
# Drop the rows with missing values in the movie_title and cleaned_review columns
df = df.dropna(subset=['movie_title', 'cleaned_review'], how='any')


# Convert the movie_title and cleaned_review to string
df['movie_title'] = df['movie_title'].astype(str, errors='ignore')
df['cleaned_review'] = df['cleaned_review'].astype(str, errors='ignore')

In [4]:
# Drop movies with less than x reviews
df = df.groupby('movie_title').filter(lambda x: len(x) >= 213)

In [5]:
df.shape

(319192, 4)

In [6]:
# print how many movies are left
print(len(df['movie_title'].unique()))

1026

In [7]:
df.head()

,rotten_tomatoes_link,review_type,cleaned_review,movie_title
596,m/1000123-310_to_yuma,Fresh,despite abundance talk film often considered d...,3:10 to Yuma
598,m/1000123-310_to_yuma,Fresh,fine daves ford collaborative western,3:10 to Yuma
599,m/1000123-310_to_yuma,Fresh,rather talky always remains lively tense,3:10 to Yuma
600,m/1000123-310_to_yuma,Fresh,taut western obviously inspired high noon lone...,3:10 to Yuma
601,m/1000123-310_to_yuma,Fresh,necessity talkative film ford working heflins ...,3:10 to Yuma

In [8]:
# see if everything in the cleaned_review column is a string
df['cleaned_review'].apply(type).value_counts()

cleaned_review
<class 'str'>    319192
Name: count, dtype: int64

In [123]:
# Save the cleaned data
df.to_csv("rt_reviews_cleaned_with_names.csv", index=False)